params {
  input = 'notebooks/data/pbmc3k/filtered_gene_bc_matrices/hg19'
  outdir = 'results/singlecell'
}

process {
  withName:run_scanpy {
    conda = 'workflows/singlecell/envs/scrna.yml'
  }
  withName:merge_adata {
    conda = 'workflows/singlecell/envs/scrna.yml'
  }
  withName:infer_tf_activity {
    conda = 'workflows/singlecell/envs/scrna.yml'
  }
}
